<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuit">
	<test name="test" preserve-order="true">
		<classes>

			<class name="Test.BasicTatoc.GridTest" />
			<class name="Test.BasicTatoc.DungeonTest" />
			<class name="Test.BasicTatoc.DragAndDropTest" />
			
			<class name="Test.BasicTatoc.PopupWindowTest" />
			
			<class name="Test.BasicTatoc.GenerateTokenTest" />

		</classes>
	</test>
</suite>